<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-paint-roller"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-Paints</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= currentMenu === 'home' ? 'active' : '' %>">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Nav Item - Slider -->
    <li class="nav-item <%= currentMenu === 'slider' ? 'active' : '' %>">
        <a class="nav-link" href="/admin/slider">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Slider</span></a>
    </li>

    <!-- Nav Item - Brand -->
    <li class="nav-item <%= currentMenu === 'brand' ? 'active' : '' %>">
        <a class="nav-link" href="/admin/brand">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Brand</span></a>
    </li>

    <!-- Nav Item - Category -->
    <li class="nav-item <%= currentMenu === 'category' ? 'active' : '' %>">
        <a class="nav-link" href="/admin/category">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Category</span></a>
    </li>

    <!-- Nav Item - Product -->
    <li class="nav-item <%= currentMenu === 'product' ? 'active' : '' %>">
        <a class="nav-link" href="/admin/product">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Product</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>